.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #741188;
  padding: 0 2rem;
}

.main-header h1 {
  color: white;
  font-size: 30px;
}